// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #3dbfc9;
$color-cream: #f0e5d8;
$color-grey: #121212;
$color-red: #ff1919;
$header-gradient: linear-gradient(315deg, #224BDB 0%, #2DE4C5 74%);

$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-10: 10px;
